{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Notes</title>
        <link rel="stylesheet" type="text/css" href="{% static 'lab_4/lab4_index.css' %}">
    </head>

    <div class="header">
        <a class="title">Notes.</a>
        <div class="header-right">
            <a class="active" href="http://127.0.0.1:8000/lab-4/">Home</a> <!-- Go to index-->
            <a href="http://127.0.0.1:8000/lab-4/note-list">Cards</a> <!-- Cards -->
            <a href="http://127.0.0.1:8000/lab-4/add-note">Add a New Note</a> <!-- Link To add a new note-->
        </div>
    </div>

    <body>
        <!-- table.dark-table -->
        <h2> Here are some notes that you've made! </h2>
        <table class="dark-table", border="2">   <!-- add border to the table-->
            <thead>
                <th class="to_column" scope="col">To</th>     <!-- th : table heading -->
                <th class="from_column" scope="col">From</th>
                <th class="title_column" scope="col">Title</th>
                <th class="message_column" scope="col">Message</th>
            </thead>
            <tbody>
                {% for n in notes %}
                <tr>
                    <td class="data-to">{{n.to}}</td> <!-- td : table data -->
                    <td class="data-from">{{n.From}}</td>
                    <td class="data-title">{{n.title}}</td>
                    <td class="data-message">{{n.message}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
